@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-accspe{
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        width: 100%;
    }
    &__box{
        display: flex;
        width: 100%;
        gap: 10px;
        padding: 8px;
    }
    &__container{
        display: flex;
        width: 100%;
        gap: 8px;
    }
    &__index-time{
        display: flex;
        flex:1;
        flex-direction: column;
        gap: 12px;
    }
    &__pointer-index{
        border: 1px solid $muted-indigo;
        background-color: $white;
        padding: 12px 12px 12px 20px;
        @extend %flex-center;
        gap: 16px;
        border-radius: $radius-input;
    }

    &__pthead{
        background-color: $white;
        padding: 12px 12px 12px 20px;
        @extend %flex-center;
        gap: 16px;
    }
    &__pointer{
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0px;
        color: $text-accent;
    }
    &__value{
        color: $sky-teal;
    }

    &__indicator{
        color: $accent-purple;
    }

    &__index{
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
        color: $text-accent;
    }

    &__time{
        background-color: $white;
        border: 1px solid $muted-indigo;
        border-radius: $radius-input;
        padding: 12px;
        @extend %flex-column-center;
        gap: 16px;
    }

    &__time-heading{
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        color: $text-accent;
    }

    &__hours{
        display: flex;
        // justify-content: center;
        gap: 4px;
        width: 100%;
    }

    &__public-transport{
        flex:1;
        border: 1px solid $muted-indigo;
        padding: 8px;
        border-radius: $radius-input;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: $white    ;
    }

    &__headwrap{
        padding: 12px 12px 12px 20px;
        display: flex;
        gap: 16px;
        align-items: center;
    }
}