@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-buttonIcon {
    &__wrap {
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__button {
        position: relative;
        height: 40px;
        width: 40px;
        top: 10px;
        border-radius: 100%;
        border: $icon-radius;
        background: radial-gradient(circle, $contact-icon-gradient-1 0%, $contact-icon-gradient-2 100%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dot{
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $profile-active;
        border-radius: 100%;
        top:3px;
        left: 22px;
    }

    &__contact {
        color: $white;
        width:  13.5px;
        height: 15px;
        
    }

    &__chatbot {
        color: radial-gradient(circle, $profile-active 0%, $chatbot-gradient-1 100%);
        width:  20px;
        height: 20px;
    }
}