.lip-btnIcn {
    &__recommCard {
        width: 100%;
        max-width: 110px;
        height: 28px;
        border-radius: $radius-input;
        @extend %flex-center;
        gap: 0 5px;

        span {
            color: $white;
            text-transform: capitalize;
        }
    }

    &__showRec {
        width: 100%;
        height: 50px;
        font-size: 14px;
        margin: 10px 0 20px;
        letter-spacing: 1px;
        border: none;
        border-radius: $radius-input;
        color: $white;
        text-transform: capitalize;
        cursor: pointer;
        @extend %flex-center;
        gap: 0 10px;
    }

    &--violet {
        background: linear-gradient(90deg, $show-recos-gradient-1, $show-recos-gradient-2);

        &:hover {
            background: linear-gradient(90deg, $show-recos-hover-1, $show-recos-hover-2);
        }
    }

    &--red {
        background: linear-gradient(90deg, $reject-gradient-1, $reject-gradient-2);
    }
}