@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-demoSpectra {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__statAffluence {
        gap: 8px;
        display: flex;
        justify-content: space-between;
    }

    &__demoStats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
    }


    &__customerSpending {
        display: flex;
        flex-direction: column;
        border-radius: $radius-input;
        border: 1px solid $muted-indigo;
        gap: 8px;
        padding: 6px;
        background-color: $white;
    }

    &__customerSpending__box {
        border-radius: $radius-input;
        padding: 8px;
        gap: 20px;
        display: flex;
        align-items: center;
        background-color: $secondary-violet;
    }

    &__ageDistribution {
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: $radius-input;
        background-color: $white;
        border: 1px solid $muted-indigo;
    }

    &__ageDistribution__box {
        display: flex;
        justify-content: center;
        border-radius: $radius-input;
        gap: 4px;
    }

    &__ageDistribution__insideBox {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 6px;
        justify-content: stretch;
        width: 100%;
    }
}