@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;


.lip-demoAffluence{
    &__wrap{
        width: 298px;
        height: 184px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #A093D4;
        padding: 6px;
        border-radius: 10px ;
    }

    &__content{
        border: 0.5px solid #A093D4;
        width: 286px;
        height: 131px;
        border-radius: 6px;
        background-color: #FBF0FF;
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        overflow-y: auto;
        
        &::-webkit-scrollbar {
            display: none;
        }

        // Hide scrollbar (Firefox)
        scrollbar-width: none;
    }
}