@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-lineBtns {
    &__header {
        @extend %flex-between-center;
        padding: 8px 10px;
        margin-bottom: 10px;
        border-radius: $radius-input;
        background: $dark-violet;
    }

    &__head {
        font-weight: 700;
        color: $white;
        text-transform: capitalize;
    }

    &__btn {
        background: $purple;
        font-weight: 700;
        padding: 6px 12px;
        margin-left: 8px;
        border-radius: $radius-input;
        border: none;
        color: $white;
        cursor: pointer;
        text-transform: capitalize;
    }

    &--active {
        background: $visitor-green;
    }
}