@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-demoStats{
    
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $muted-indigo;
        border-radius: 8px;
        gap: 4px;
        padding: 4px 44px;
        background-color: $white;
    }

    &__box:hover{
        background-color: $demostat-box-hover;
        cursor: pointer;
    }

    &__icon-value{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    &__value{
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0px;
        color: $accent-purple;
    }

    &__label{
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        color: $text-accent;
        text-transform: capitalize;
    }
}