@use '../../styles/partials/variables' as *;

.lip-tabs {
    &__wrap {
        display: flex;
        gap: 0 20px;
    }

    &__tab {
        border-radius: $radius-input;
        cursor: pointer;
    }

    &__profile {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-size: 22px;
        line-height: 22px;
        height: 60px;
        padding: 20px;
        color: $black;
        border: 1px solid transparent;
        background: $secondary-violet;
        transition: 0.3s all;
    }
}