@use '../../styles/partials/variables' as *;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

%flex-start-center {
    display: flex;
    align-items: center;
}

%flex-end-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%scroll-hide{
    display: none;
    width: 0;
}

.lip-profile__tab--active {
    background: $white !important;
    border: 1px solid $text-violet !important;
}

