// colors
$purple: #641698;
$accent-purple: #8E44F7;
$sky-teal: #21C6B2;
$amber-gold: #F5B942;
$soft-coral: #FF6F61;
$muted-indigo: #A093D4;
$text-accent: #555555;
$grass-green: #16D26B;

$white: #FFFFFF;
$demostat-box-hover: #FCF4FF;
$black: #000000;
$searchbox-shadow: #00000033;
$text-color: #333;
$label-disable: #bebebe;
$label-active: #424242;
$border-disable-grey: #bdbdbd;
$border-active-grey: #424242;
$primary-violet: #672C90;
$secondary-violet: #FBF0FF;
$dark-violet: #3b0c76;
$text-violet: #734199;
$separator-line-color: #e0e0e0;
$separator-text-color: #212121;
$sidebar-color1: #410D6E;
$sidebar-color2: #6B07C1;

$visitor-blue: #0DC5E5;
$visitor-green: #00C458;
$visitor-lilac: #FBF0FF;

$searchbar-color: #000000;
$search-icon-gradient-1: #9C07C1;
$search-icon-gradient-2: #550973;
$contact-icon-gradient-1: #45166E;
$contact-icon-gradient-2: #852AD4;
$profile-active: #00FBAC;
$chatbot-gradient-1: #00CCFF;
$drpdwn-gradient-1: #2F0B62;
$drpdwn-gradient-2: #590A9E;
$drpdwn-border-gradient-1: #C412FF;
$drpdwn-border-gradient-2: #25D7FF;
$drpdwn-border-gradient-3: #FF00C8;
$drpdwn-border-gradient-4: #FFEA00;

$sidebar-btn-gradient-1: #9966FF;
$sidebar-btn-gradient-2: #C777FF;

// borders
$input-disable-border: 1px solid $border-disable-grey;
$input-active-border: 1px solid $border-active-grey;
$radius-login: 10px 10px 0 0;
$radius-input: 10px;
$searchbox-border: 2px solid $muted-indigo;
$icon-radius: 1px solid $secondary-violet;
$radius-drpdwn: 0 0 10px 10px;

// position
$eye-icon: 20px;
$edit-icon: 30px;
$sidebar-icon: 24px;
$sidebar-box: 50px;

// z-index
$map-component: -1;
$searchBox: 0;
$sidebar: 2;
$right-sidebar: 0;

// shadows
$site-score-shadow: 0 4px 10px 0;
$visitor-shadow: 0 0 4px 0 rgba(34, 14, 81, 0.1);