// colors
$white: #fff;
$black: #000;
$text-color: #333;
$label-disable: #bebebe;
$label-active: #424242;
$border-disable-grey: #bdbdbd;
$border-active-grey: #424242;
$primary-violet: #672C90;
$secondary-violet: #FBF0FF;
$text-violet: #734199;
$separator-line-color: #e0e0e0;
$separator-text-color: #212121;
$sidebar-color1: #410D6E;
$sidebar-color2: #6B07C1;

// borders
$input-disable-border: 1px solid $border-disable-grey;
$input-active-border: 1px solid $border-active-grey;
$radius-login: 10px 10px 0 0;
$radius-input: 10px;

// position
$eye-icon: 20px;
$edit-icon: 30px;
$sidebar-icon: 24px;
$sidebar-box: 30px;

// z-index
$sidebar: 1;