@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-right-sidebar {
  &__wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: $right-sidebar;
    height: 100vh;
    width: 80px;
    background-color: transparent;
    padding: 120px 10px 20px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: right 0.3s ease;

    &--shifted {
      right: 640px;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  &__icon-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sub-icons {
    @extend %flex-column;
    gap: 8px;
    position: absolute;
    right: 60px;
    top: 0;
    z-index: 2;
  }

  &__sub-geoicons{
    @extend %flex-center;
  }

  &__sub-icon {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    @extend %flex-center;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;

    img,
    svg {
      width: 16px;
      height: 16px;
      transition: filter 0.2s, color 0.2s;
    }

    &:hover {
      background-color: #ff6f61 !important;
      border-color: #ff6f61 !important;

      svg {
        color: #fbf0ff;
      }

      img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(208%) hue-rotate(215deg) brightness(108%) contrast(101%);
      }

      .right-sidebar__tooltip {
        opacity: 1;
        visibility: visible;
        background-color: #ff6f61 !important;
        color: #fbf0ff;
        transform: translateY(-50%);
      }
    }
  }
}