@use '../../styles/partials/variables' as *;

.lip-profile {
    
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 20px 20px 20px 100px;
        background: $secondary-violet;
    }

    &__greet,
    &__name {
        font-size: 36px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 40px;
        color: $text-violet;
        text-transform: capitalize;
    }

    &__name {
        margin-bottom: 0;
    }

    &__main {
        flex: 1;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        border-radius: $radius-input;
        background: $white;
    }

    &__categories {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        margin: 20px 0;
    }

    &__demoStats{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);   
        gap: 8px; 
        width: 300px;
        height: 184px;
    }
    &__statAffluence {
        width: 600px;
        height: 184px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__customerSpending {
        width: 600px;
        height: 118px;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        border: 1px solid #A093D4;
        gap: 8px;
        padding: 6px;
        background-color: white;
    }

    &__customerSpending__box {
        width: 588px;
        height: 65px;
        border-radius: 10px;
        padding: 8px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;;
        background-color: #FBF0FF;
    }

    &__ageDistribution {
        width: 600px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 6px;
        background-color: #FFFFFF;
        border: 1px solid #A093D4;
    }

    &__ageDistribution__box {
        width: 588px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 8px;
        gap: 4px;
    }

    &__ageDistribution__insideBox {
        width: 580px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 6px;
        justify-content: center;
    }

}