@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-tooltip {
  &__wrap {
    position: relative;
    @extend %flex-center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: $radius-input;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: $shadow-tooltip;

    &:hover {
      background: linear-gradient(0deg, $sidebar-btn-gradient-1, $sidebar-btn-gradient-2);
      border-color: #3B0C76;

      .iconImage {
        filter: brightness(0) invert(1);
      }

      .lip-tooltip__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__iconImage {
    width: 24px;
    height: 24px;
    transition: 0.3s ease;
  }

  &__text {
    position: absolute;
    background-color: #8E44F7;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: $radius-input;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 100;

    &--top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-8px);
    }

    &--bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(8px);
    }

    &--left {
      right: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(-8px);
    }

    &--right {
      left: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(8px);
    }
  }

  &__sidebarBtn {

    border: none;
    background: $dark-violet;
    transition: 0.3s all;

    &:hover {
      background: linear-gradient(to top, $sidebar-btn-gradient-1, $sidebar-btn-gradient-2);

      .lip-tooltip__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}