@use './partials/reset' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/utilities' as *;



body {
  font-family: "Urbanist", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s;
}