@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;


.lip-profile {
    &__customerSpending {
        width: 177.3333282470703px;
        height: 57px;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        align-items: center;
        background-color: $white-2;
        &--high{
            border: 1px solid $sky-teal;
        }

        &--moderate{
            border: 1px solid $amber-gold;
        }

        &--low{
            border: 1px solid $soft-coral;
        }
    }

    &__label{
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;

        &--high{
            color:$sky-teal;
        }

        &--moderate{
            color: $amber-gold;
        }

        &--low{
            color: $soft-coral;
        }
    }


    &__valueContainer{
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%; 
        letter-spacing: 0px;
        color: $text-accent;
        display: flex;
        gap: 4px;
    }
}