@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-drpdwnHead {
    &__wrap {
        @extend %flex-start-center;
        padding: 4px;
        gap: 6px;
        border-radius: $radius-input;
        background-color: $white;
        box-shadow: $shadow-drpdwnhead;
        width: 100%;
    }

    &__heading {
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: $purple;
        text-transform: capitalize;
        text-align: center;
    }

    &__radar-chart {
        padding: 8px 10px;
        background: $dark-violet;

        .lip-drpdwnHead__heading {
            color: $white;
        }
    }
}