@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-drpdwnHead {
    &__wrap {
        display: flex;
        align-items: center;
        padding: 4px;
        gap: 6px;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    }

    &__heading {
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: $purple;
        text-align: center;
        text-transform: capitalize;
    }
}