@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-pie {
    &__text {
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
    }
}