@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-affluence{
    &__wrap{
        padding: 4px;
        border-radius: $radius-input;
        @extend %flex-between-center;
        background-color: #FFFFFF;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0px;
    }

    &__range{
        color: #8E44F7;
    }

    &__count{
        color: #555555;
    }
}