.lip-affluence{
    &__wrap{
        padding: 2px 4px;
        border-radius: $radius-input;
        @extend %flex-column-center;
        gap:12px;
        background-color: $white;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0px;
        min-height: 128px;
    }

    &__range{
        color: $accent-purple;
        font-size: X-large;
    }

    &__count{
        color: $text-accent;
        font-size: x-large;
    }
}