@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-footVisit {
    &__wrap {
        @extend %flex-between-center;
        gap: 0 10px;
    }

    &__average {
        flex: 1;
        @extend %flex-column;
        gap: 10px;
    }
}