@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-profile__box {
    max-width: 600px;
    border-radius: $radius-input;
    border: 1px solid $text-violet;
    padding: 20px;

    &-header {
        @extend %flex-between-center;
        margin-bottom: 10px;
    }

    &-head {
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        color: $text-violet;
        text-transform: capitalize;
    }

    &-edit {
        height: $edit-icon;
        width: $edit-icon;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius-input;
        background: $text-violet;

        img {
            max-width: 20px;
            height: 20px;
        }
    }
}