@use '../../styles/partials/variables' as *;
@use '../../styles/partials/utilities' as *;

.lip-sidebar {
    &__wrap {
        @extend %flex-column;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $sidebar;
        height: 100%;
        padding: 20px;
        // width: 100%;
        width: 80px;
        border-radius: 0 10px 10px 0;
        background: linear-gradient(90deg, $sidebar-gradient-color1, $sidebar-gradient-color2);
        transition: 0.5s all;
        overflow: hidden;
    }

    &__logo {
        position: relative;
        @extend %flex-start-center;
        color: white;
        margin-bottom: 60px;

        &-text {
            font-size: 24px;
            font-weight: 600;
            opacity: 0;
            display: none;
            text-transform: capitalize;

            &--active {
                opacity: 1;
                display: flex;
            }
        }
    }

    &__toggle {
        position: absolute;
        right: -34.5px;
        cursor: pointer;
        transform: rotate(180deg);
        // transition: 0.3s all;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        opacity: 0;
        display: none;
        text-transform: capitalize;
        // white-space: nowrap;

        &--active {
            opacity: 1;
            display: flex;
        }
    }

    &--active {
        // width: 100%;
        width: 240px;

        // .lip-sidebar__text,
        // .lip-sidebar__logo-text {
        //     opacity: 1;
        //     display: inline-flex;
        // }

        .lip-sidebar__toggle {
            right: 0;
            transform: rotate(0deg);
        }
    }

    &__items {
        @extend %flex-column;
        gap: 40px 0;
        flex: 1;
    }

    &__saved {
        cursor: pointer;
    }
}