.lip-compLand {
    &__main {
        width: 100%;
        padding: 10px;
        border-radius: $radius-input;
        background: $white;
        @extend %flex-column;
    }

    &__wrap {
        width: 100%;
        gap: 10px;
        margin: 20px 0 0;
        @extend %flex-column-center;
        background: $white;
    }

    &__head {
        width: 100%;
        padding: 3px;
        border-radius: $radius-input;
        @extend %flex-between-center;
        background: $secondary-violet;
        text-transform: capitalize
    }

    &__label {
        @extend %flex-start-center;
        gap: 0 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: $black;
    }

    &__addComp {
        line-height: 0;
    }

    &__brands {
        @extend %flex-start-center;
        align-self: flex-start;
        gap: 10px;
    }

    &__brandWrap {
        width: 100%;
        padding: 5px 5px 5px 7px;
        gap: 5px;
        @extend %flex-start-center;
        border: 1px solid $primary-violet;
        border-radius: $radius-input;
    }

    &__brand {
        width: max-content;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
        color: $text-accent;
        transition: all 0.3s;
    }

    &--selected {
        background: $text-violet;
        color: $white;
    }
}