.lip-siteRec {
    &__wrap {
        padding: 10px;
    }

    &__drpDwns {
        @extend %flex-between-center;
        gap: 0 10px;
        margin: 10px 0 0;
    }

    &__cards {
        @extend %flex-column-center;
        gap: 20px 0;
        margin: 20px 0 0;
    }
}