@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-drpDesc {
  &__wrap {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 13px;
    gap: 10px;
    width: 592px;
    height: 58px; 
    border: 2px solid transparent;
    background:
      linear-gradient(90deg, $dark-gradient 0%, $dark-gradient-1 100%) padding-box,
      linear-gradient(90deg, $bgr-1, $bgr-2, $bgr-3, $bgr-4) border-box;
    color: $white-2;
  }

  &__paraText {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  line-height: 100%; /* or 16px */
  letter-spacing: 0px;
  color: $white-2;
  }
}
