@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-drpDesc {
  &__wrap {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 13px;
    gap: 10px;
    width: 592px;
    height: 58px;
    border: 2px solid transparent;
    background:
      linear-gradient(90deg, #2F0B62 0%, #590A9E 100%) padding-box,
      linear-gradient(90deg, #C412FF, #25D7FF, #FF00C8, #FFEA00) border-box;
    color: #FFFFFF;
  }

  &__paraText {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  line-height: 100%; /* or 16px */
  letter-spacing: 0px;
  color: #FFFFFF;
  }
}
