@use "../../styles/partials/variables" as *;
@use "../../styles/partials/utilities" as *;

.lip-drpDesc {
  &__wrap {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: $radius-input;
    gap: 10px;
    border: 2px solid transparent;
    background:
      linear-gradient(90deg, $drpdwn-gradient-1 0%, $drpdwn-gradient-2 100%) padding-box,
      linear-gradient(90deg, $drpdwn-border-gradient-1, $drpdwn-border-gradient-2, $drpdwn-border-gradient-3, $drpdwn-border-gradient-4) border-box;
    color: $white;
  }

  &__paraText {
  font-weight: 600;
  font-style: italic;
  line-height: 100%;
  letter-spacing: 0px;
  color: $white;
  }
}